body {
  position: relative;
  font-family: Comic Sans MS, serif;
  padding: 20px;
}
body::before {            
    content: "";          
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Image/ChatGPT_agera_r.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px) brightness(0.7); 
    z-index: -1;
}

h1 {
    background-color: black;
    justify-content: center;
    display: flex;
    color: white;
    padding: 0 10px;
    border-radius: 10px
    }


ul {
    color:white;
    display: flex;
    justify-content: center;
    list-style: none;
    
    
    }
    
  ul li {
    color: white;
    list-style: none;
    padding: 8px 12px;
  }
  ul li a {
    color: white;
  }
  

#article {
  display: grid;   
  grid-template-columns: repeat(2, 1fr);        
  gap: 20px; 
  max-width: 1200px;
  margin: 2rem auto;
}
p {
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 1.6;
  grid-column: 1;
  grid-row: 1;
  
}
article{
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    background-color: black;
    border-radius: 10px;
    padding: 1.5rem;
    align-items: center;
}

.article_image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    grid-column: 2;
    grid-row: 1;
}

.article_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}