body {
  position: relative;
  font-family: Comic Sans MS, serif;
  padding: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Image/ChatGPT_agera_r.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px) brightness(0.7);
  z-index: -1;
}

h1 {
  background-color: black;
  justify-content: center;
  display: flex;
  color: white;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid grey;
}


ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

ul li {
  list-style: none;
  padding: 8px 12px;
}

ul li a {
  color: white;
}

#article {
  margin: 0 auto;
  display: grid;
  gap: 30px;
}

#intro {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  padding: 20px;
  color: white;
  text-align: center;
  border: 2px solid grey;
}

h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: white;
}

p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

#passion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.passions {
  background: rgb(26, 25, 25);
  border-radius: 12px;
  padding: 25px;
  color: white;
  border-bottom: 4px solid grey;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.passions:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px grey;
}

h3 {
  font-size: 30px;
  margin-bottom: 12px;
  color: white;
}

.Titre_transition {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

#carspotting {
  background-color: black;
  border-radius: 15px;
  padding: 40px;
  color: white;
  border: 2px solid grey;
}

@media (max-width: 768px) {
  h1{
    font-size: 1.6rem;
  }
  ul { flex-wrap: wrap; }
  #passion{
    grid-template-columns: repeat(2, 1fr);
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.2rem;
  }
  p{
    font-size: 16px;
  }
  .Titre_transition{
    font-size: 1.2rem;
  }
  
  
}
@media (max-width: 480px) {
#passion{
  grid-template-columns: 1fr;
}
p{
  font-size: 12px;
}
}
