body {
  position: relative;
  font-family: Comic Sans MS, serif;
  padding: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Image/ChatGPT_agera_r.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px) brightness(0.7);
  z-index: -1;
}

h1 {
  background-color: black;
  justify-content: center;
  display: flex;
  color: white;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid grey;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

ul li {
  list-style: none;
  padding: 8px 12px;
}

ul li a {
  color: white;
}

.Galerie_photo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


h2 {
  font-size: 35px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid grey;
}


.Grille {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.Conteneur_article {
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid grey;
}

.Conteneur_Photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: black;
}

.Conteneur_Photo :hover {
  transform: scale(1.05);
}

.Conteneur_Photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* change la forme du curseur en une loupe*/
.photo-label {
  cursor: zoom-in;
}

/* Overlay sombre derrière l'image agrandie */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

.lightbox-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 8px;
}

/* Afficher la lightbox quand checkbox cochée */
.photo-checkbox:checked+.lightbox-overlay {
  display: flex;
}


.Légende {
  color: white;
  padding: 5px;
  padding-left: 20px;
}
@media (max-width: 768px) { 
  Galerie_photo{
    grid-template-columns: 1fr;
  }
  .Grille{
    grid-template-columns: 1fr;
  }
  .Conteneur_Photo{
    height: 300px;
  }
  h1 { font-size: 1.6rem; }
  h2{
    font-size: 1.5rem;
  }
  ul { flex-wrap: wrap; }
  p{
    font-size: 16px;
  }
  
  
}
@media (max-width: 480px) {
p{
  font-size: 12px;
}
}