body {
  position: relative;
  font-family: Comic Sans MS, serif;
  padding: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Image/ChatGPT_agera_r.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px) brightness(0.7);
  z-index: -1;
}

h1 {
  background-color: black;
  justify-content: center;
  display: flex;
  color: white;
  padding: 0 10px;
  border-radius: 10px;
  border: 2px solid grey;
}
h2{
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
  color: white;
}

ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}
ul li{
  list-style: disc;
}
ul li a {
  color: white;
  text-decoration: none;
}

.Sommaire{
  background-color: black;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 2px solid grey;
}
.Sommaire:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px white; 
  border-color: white;  
}

@media (max-width: 768px) {
  h1{
    font-size: 1.6rem;
  }

  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 16px;
  }
}

@media (max-width: 480px) {

p{
  font-size: 12px;
}
}