body {
  position: relative;
  font-family: Comic Sans MS, serif;
  padding: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Image/ChatGPT_agera_r.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px) brightness(0.7);
  z-index: -1;
}

h1 {
  background-color: black;
  justify-content: center;
  display: flex;
  color: white;
  padding: 0 10px;
  border-radius: 10px
}


ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

ul li {
  list-style: none;
  padding: 8px 12px;
}

ul li a {
  color: white;
}

